.venv
.vscode
checkpoints
__pycache__
datasets/comparisons/*
datasets/trajectories/*
datasets/environments/*
_*[^_]
train_results/*
test_results/*
*tensorboard*
*wandb*
weights/*
datasets/complete_datasets/*
!__init__.py
